.bar {
  grid-row: 1 / 2;
}
.header {
  position: absolute;
  right: 20px;
  display: grid;
  grid-gap: 8px;
  padding: 10px;
}
.item2 {
  padding: 8px;
  text-decoration: none;
  color: #999da2;
  cursor: pointer;
  font-size: 14px;
  font-family: arial, sans-serif;
}
a.item2:hover {
  text-decoration: underline;
}


img {
    border-radius: 50%;
    position: relative;
    align-items: center;
    height: 32px;
    width: 32px;
  }