.navbar {
  position: relative;
  right: -20px;
  justify-content: space-between;
  height: 50px;
  font-size: 14px;
  font-family: arial, sans-serif;
}
.rightLinks {
  padding: 10px;
  margin-right: 16px;
  align-items: center;
  float: right;
  text-decoration: none;
  color: #999da2;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 10%;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
svg{
  height: 24px;
  width: 24px;
}

.profile {
    border-radius: 50%;
    position: relative;
    align-items: center;
    height: 32px;
    width: 32px;
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 0px;
  width: 328px;
  height: 448px;
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
  margin-right: 4px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  padding: 8px 12px;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.14);
  cursor: pointer;
}