.circle{
    background-color: brown;
    width: 45px;
    height: 45px;
    border-radius: 22px;
}
.circle:hover {
    border-radius: 0px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}